body {
    text-align: left;
    font-family: 'Bree Serif', serif;
    background-color: #000000;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.glow {
    color: #ffffff;
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
    padding-bottom: 10px;
}

@keyframes glow {
    from {
        text-shadow: 
            0 0 5px #ffffff, 
            0 0 10px #3399ff, 
            0 0 15px #3399ff, 
            0 0 20px #3399ff, 
            0 0 25px #3399ff, 
            0 0 30px #3399ff, 
            0 0 35px #3399ff;
    }
    to {
        text-shadow: 
            0 0 10px #3399ff, 
            0 0 20px #3399ff, 
            0 0 30px #3399ff, 
            0 0 40px #3399ff, 
            0 0 50px #3399ff, 
            0 0 60px #3399ff, 
            0 0 70px #3399ff;
    }
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
    margin-bottom: 0;
    color: #77d8d8;
    font-size: 4rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    position: relative;
    left: 80px;
    top: 180px;
}

p {
    line-height: 2;
}

.animatedText {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #77d8d8;
    font-weight: normal;
    line-height: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.top {
    position: relative;
    left: 80px;
    top: 150px;
    max-width: calc(100% - 160px); /* Adjust max-width to fit within viewport */
}

.one-line-description{
    top: -50px;
    position: relative;
}

.top-buttons{
    position: relative;
    left: 80px;
    top: 140px;
}

button{
    width: 200px;
    height: 75px;
    background-color: #3399ff;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    color: #ffffff;
}

.learn-button{
    
}

.contact-button{
    
}

.about-me{
    color: white;
    position: relative;
    left: 80px;
    top: 600px;
    font-size: 24px;
    padding-bottom:1000px;
    margin-right: 2px;
    max-width: calc(100% - 160px);    overflow-wrap: break-word;
    word-wrap:break-word;
}
.about-me-text-left{
    overflow-wrap: break-word;

}

.about-me-text-right{
    overflow-wrap: break-word;

}